* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;

  background: transparent;

  font-family: inherit;

  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
input,
textarea,
select {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  font-family: "Space Mono", monospace;
  background-color: hsl(185, 41%, 84%);
}

header {
  display: flex;
  justify-content: center;
  padding: 50px;
  flex-wrap: wrap;

  img {
    height: 60px;
  }
}

.calculator-card {
  border-radius: 25px 25px 0 0;
  padding: 50px;
  background-color: #fff;

  @media screen and (min-width: 1040px) {
    border-radius: 25px 25px 25px 25px;
    display: flex;
    flex-direction: row;
    margin-left: 20vw;
    gap: 25px;
    width: 60vw;

    .left-card {
      flex: 50%;
      width: 30vw;
    }

    .reset-btn,
    .total-amount,
    .tip-amount {
      width: calc(30vw - 50px);
    }
  }

  input[type="text"]::placeholder {
    color: hsl(184, 14%, 56%);
  }

  #bill-amount,
  #people-number {
    padding: 25px;
    margin-bottom: 25px;
    height: 50px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 24px;
    text-align: right;
    width: calc(100vw - 100px);
    color: hsl(183, 100%, 15%);
    background-color: hsl(189, 41%, 97%);

    @media screen and (min-width: 1040px) {
      width: calc(30vw - 90px);
    }
  }

  #bill-amount:focus,
  #people-number:focus {
    box-shadow: 0 0 0 2px hsl(172, 67%, 45%);
  }

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 20px 0;

    @media screen and (min-width: 1040px) {
      margin: 20px 0 40px;
      grid-template-columns: 1fr 1fr 1fr;
    }

    li {
      display: flex;
      justify-content: center;
      border-radius: 5px;
      height: 60px;
      width: calc((100vw - 110px) / 2);
      font-size: 24px;
      font-weight: 700;
      color: #fff;

      @media screen and (min-width: 1040px) {
        width: calc((30vw - 110px) / 3);
      }

      input[type="radio"] {
        position: absolute;
        border-radius: 5px;
        width: calc((100vw - 110px) / 2);
        height: 60px;
        cursor: pointer;

        @media screen and (min-width: 1040px) {
          width: calc((30vw - 110px) / 3);
        }
      }

      label {
        padding-top: 10px;
        cursor: pointer;
        z-index: 1;
      }

      #custom-percentage-text {
        border-radius: 5px;
        width: calc((100vw - 110px) / 2);
        padding: 0 10px;
        font-size: 24px;
        font-weight: 700;
        text-align: right;
        color: hsl(183, 100%, 15%);

        @media screen and (min-width: 1040px) {
          width: calc((30vw - 110px) / 3);
          font-size: 18px;
        }
      }

      #custom-percentage-text:placeholder-shown {
        text-align: center;
      }

      #custom-percentage-text:focus {
        box-shadow: 0 0 0 2px hsl(172, 67%, 45%);
      }
    }
  }

  li:last-child {
    background-color: hsl(189, 41%, 97%);
  }
}

.right-card {
  border-radius: 20px;
  padding: 20px;
  background-color: hsl(183, 100%, 15%);

  @media screen and (min-width: 1040px) {
    flex: 50%;
    width: 30vw;
  }

  .tip-amount,
  .total-amount {
    display: flex;
    justify-content: space-between;
    width: calc(100vw - 140px);
    margin: 20px 0 50px;

    @media screen and (min-width: 1040px) {
      width: calc(30vw - 50px);
    }
  }

  .reset-btn {
    border-radius: 10px;
    height: 50px;
    width: calc(100vw - 140px);
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: hsl(183, 100%, 15%);
    background-color: hsl(172, 67%, 45%);

    @media screen and (min-width: 1040px) {
      margin-top: 145px;
      width: calc(30vw - 50px);
    }
  }

  .reset-btn:disabled {
    background-color: hsl(183, 100%, 20%);
  }

  h3 {
    margin: unset;
    color: #fff;
  }

  h5 {
    font-size: 16px;
    color: hsl(186, 14%, 43%);
  }

  h1 {
    font-size: 35px;
    color: hsl(172, 67%, 45%);
  }
}

h3 {
  margin: 15px 0 5px;
  color: hsl(186, 14%, 43%);
}
